[submodule "piton/design/chip/tile/ariane"]
	path = piton/design/chip/tile/ariane
	url = https://github.com/pulp-platform/ariane.git
[submodule "piton/design/chip/tile/anycore"]
	path = piton/design/chip/tile/anycore
	url = http://github.com/anycore/anycore-riscv-src.git
